:root {
  --primary: #800020;
  --secondary: #eaddca;
  --bg-light: #faf4ec;
}

/* Section background */
.about-section {
  background: linear-gradient(to bottom, #c9b9a5, #eaddca, #c9b9a5);
  padding: 2rem;
}
.title {
  font-size: 3rem;
}
h1 {
  text-align: center;
  margin-top: 1px;
}
span {
  font-size: 5rem;
}
.postpolit {
  color: #800020;
  text-shadow: 0 0 15px #be6a7f;
  position: relative;
  display: inline-block;
  text-align: center;
}

.postpolit::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #800020, transparent);
  animation: postpolit 3s infinite;
}

@keyframes postpolit {
  0%,
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
}
/* Card */
.about-card {
  background: var(--bg-light);
  padding: 3rem 2.5rem;
  margin-top: 5rem;
  border-radius: 8px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

/* Top line */
.line {
  display: block;
  width: 60px;
  height: 6px;
  background: var(--primary);
  margin-bottom: 25px;
}

/* Heading */
.about-card h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 18px;
  color: var(--primary);
}

/* Paragraph */
.about-card p {
  font-size: 16px;
  line-height: 1.8;
  color: #2a2a2a;
}

/* Hover effect */
.about-card:hover {
  transform: translateY(-8px);
  background: var(--primary);
}

.about-card:hover h3,
.about-card:hover p {
  color: var(--secondary);
}

.about-card:hover .line {
  background: var(--secondary);
}
