/*Contact section*/
#contact {
  margin-top: 0px;
  background-image: linear-gradient(to bottom, #faf4ec, #eaddca, #c9b9a5);
}
#contact h1 {
  padding-top: 2rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.3rem;
}

.contact-form,
.contact-details {
  border: 2px solid #e98ba2;
  background-color: #c9b9a5;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 10px 18px #1f1f34;
  margin-top: 30px;
}

/*contact form*/

.contact-form h2,
.contact-details h2 {
  color: #800020;
  font-size: bold;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}
label {
  font-size: 20px;
}
.label {
  font-size: 20px;
}

input,
textarea {
  background-color: #faf4ec;
  color: #800020;
  border: 1px solid #800020;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:hover {
  border-color: #800020;
}

input:focus,
textarea:focus {
  border-color: #800020; /* purple border */
  box-shadow: 0 0 5px #800020; /* optional glowing effect */
}

.contact-form button {
  display: block; /* make it a block element */
  margin: 20px auto; /* auto left/right margins */
  padding: 10px 20px;
  font-size: 16px;
  color: #eaddca;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #800020, #ce0336);
  box-shadow: 0 0 15px #91485a;
}

.contact-form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #800020;
}

/*contact detail*/
.email,
.location,
.response-time,
.office-hours {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.contact-details img {
  height: 20px;
  width: 20px;
}

.email a {
  text-decoration: none;
  color: #800020;
}

/* --- Tablet styles AND UP --- */
@media screen and (min-width: 900px) {
  label,
  textarea {
    margin-left: 3%;
  }
  html,
  body {
    width: 100%;
    position: relative;
  }

  /* Show nav horizontally */
  nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    background: none;
    padding: 0;
    width: auto;
    gap: 25px;
  }

  nav ul li {
    text-align: left;
  }

  /* Hide hamburger */
  .menu-icon {
    display: none;
  }

  .grid-strike {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Become 2 columns */
  }

  .grid-tutorial,
  .student-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .grid-contact {
    display: flex;
  }

  .grid-Instructor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .grid-Instructor .sirimg {
    height: 200px;
    width: 220px;
    border-radius: 50%;
    display: block;
    margin-left: 80px;
  }

  .Instructor-1-title,
  .Instructor-2-title {
    margin-left: 10px;
    margin-top: 40px;
  }
  /*footer*/
  hr {
    width: 80%;
    margin-left: 10%;
  }
  .footer-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
  }

  .aim {
    width: 250px;
  }

  .para,
  #a-footer {
    display: block;
    margin-bottom: 5px;
  }

  .copyright {
    margin-top: 30px;
  }

  .home-second-half .intro {
    margin-bottom: 10px;
  }
  /*COURSE FOLDER */
  .DSA,
  .HLD,
  .Free-WebDev,
  .GenAi,
  .Paid-WebDev {
    position: relative;
    display: block; /* remove flex behavior */
    width: 100%;
  }

  /* Wrap main course and summary side by side manually */
  .group-sticky {
    display: inline-block;
    width: 70%;
    vertical-align: top;
  }

  .Course-summary {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-left: 20px;
    position: sticky;
    top: 100px; /* adjust according to header height */
    padding: 10px;
    height: fit-content;
  }

  .Image-Info-1 {
    width: 95%;
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .grid-tutorial {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }

  .contact-form,
  .contact-details {
    width: 700px;
  }

  .grid-Instructor .paragraph {
    width: 500px;
    margin-left: 80px;
  }

  label,
  textarea {
    margin-left: 20%;
  }
}

/*header se distance create  karne ke liye */
#home,
#tutorial,
#about,
#contact {
  scroll-margin-top: 60px;
}
